/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/testeProjeto/nbproject/private/
/TesteBibliotecaTerceiros/nbproject/private/
/Projeto_retangulos/nbproject/private/
/Projeto_retangulos/build/
/JavaApplication3d/nbproject/private/
/JavaApplication3d/build/
/importMath2/nbproject/private/
/importMath2/build/
/TesteBibliotecaTerceiros/build/
